<app-frameimport></app-frameimport>
<form class="product_add-form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required placeholder="Enter Name">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="name">Prize</label>
        <input type="text" class="form-control" required placeholder="Enter Prize">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="name">Quantity</label>
        <input type="text" class="form-control" required placeholder="Enter Quantity">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Image Files</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>
    <div class="form-group">
        <label for="name">Category</label>
        <select class="form-control cate">
            <option>Default select</option>
            <option>Default select</option>
            <option>Default select</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>